/* You can add global styles to this file, and also import other style files */
body{
    background:url('/assets/city.jpg') no-repeat center fixed;
    background-size:cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*This is for header of angular material-tabs*/
.mat-tab-header{
    background-color: #ffd500;
}

